@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-reduced-motion: no-preference) {
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@media (prefers-color-scheme: light) {
  :root {
    /* color: #213547;
    background-color: #ffffff; */
    font-family: 'Pretendard', sans-serif; /* 커스텀 폰트 설정 */
  }
  /* a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  } */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* color: #ffffff;
    background-color: #213547; */
    font-family: 'Pretendard', sans-serif; /* 커스텀 폰트 설정 */
  }
  /* a:hover {
    color: #747bff;
  }
  button {
    background-color: #333333;
  } */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */

.swiper {
  height: 450px !important; /* 명시적 높이 설정 */
}

.swiper-wrapper {
  height: 100% !important;
}

.swiper-slide {
  height: 95% !important;
}

/* Card와 내부 컴포넌트 높이 제어 */
.swiper-slide > div {
  /* Card */
  height: 100% !important;
}

/* CardHeader 높이 */
.swiper-slide > div > div:first-child {
  height: 50% !important;
}

/* CardContent 높이 */
.swiper-slide > div > div:nth-child(2) {
  height: 10% !important;
  overflow-y: auto !important;
}

.swiper-button-prev,
.swiper-button-next {
  width: 25px !important;
  height: 25px !important;
  margin: 0 !important;
  &::after {
    display: none; /* Swiper의 기본 화살표 아이콘 제거 */
  }
}
